.overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

/* Centered and styled alert */
.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(16, 15, 15, 0.785);
  color: rgb(118, 123, 127);
  padding: 20px;
  border-radius: 5px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #151515;
  font-family: Andale Mono;
}
h1 {
  font-size: 2.5rem;
}
h2,
h1 {
  color: #ddac0d;
  text-shadow: 0 0 10px #e8c141a9, 0 0 30px #ddac0d;
}
.container {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  border-radius: 15px;
  font-size: 3rem;
  color: #ddac0d;
  text-shadow: 0 0 10px #e8c141a9, 0 0 30px #ddac0d;
}
.min-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 25px;
  border: 2px solid rgba(221, 172, 13, 0.5); /* Neon border color with transparency */
  box-shadow: 0 0 10px rgba(221, 172, 13, 0.5); /* Neon box shadow with transparency */
  border-radius: 15px;
  color: #ddac0d;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 20px;
}

.text {
  position: relative;
  border: 2px solid rgba(221, 172, 13, 0.5); /* Neon border color with transparency */
  box-shadow: 0 0 10px rgba(221, 172, 13, 0.5); /* Neon box shadow with transparency */
  min-width: 80%;
  min-height: 7rem;
  padding: 0.5rem 1rem;
  text-align: justify;
  margin: 3%;
  border-radius: 5px;
  font-size: 1.2rem;
  color: rgb(81, 81, 81);
}
.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#user-input {
  width: 90%;
  height: 1rem;
  border: 2px solid rgba(221, 172, 13, 0.5); /* Neon border color with transparency */
  box-shadow: 0 0 10px rgba(221, 172, 13, 0.5); /* Neon box shadow with transparency */
  font-size: 1.2rem;
  font-family: Andale Mono;
  outline: none;
  margin: auto;
  padding: 0.5rem 1rem;
  background-color: transparent;
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  overflow-x: auto;
  color: rgb(81, 81, 81);
}
#user-input::placeholder {
  color: rgba(
    81,
    81,
    81,
    0.545
  ); /* Change the placeholder color to a different color */
}
#user-input:focus {
  border-color: #ddac0d;
}
.correct {
  color: #38733e;
}

.incorrect {
  color: rgb(162, 33, 33);
  text-decoration: underline;
}
.buttons {
  margin: 15px;
}
/* Add margin to the buttons for additional spacing */
#restart-button,
#reset-button {
  margin: 0 30px; /* Adjust the value as needed */
}
.button-60,
#ok-button {
  align-items: center;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgba(221, 172, 13, 0.5); /* Neon border color with transparency */
  box-shadow: 0 0 10px rgba(221, 172, 13, 0.5); /* Neon box shadow with transparency */
  border-radius: 15px;
  color: #a47f06;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(0.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-60:active {
  border-color: rgba(81, 81, 81, 0.545);
  outline: 0;
}
.button-60:hover {
  border-color: rgba(81, 81, 81, 0.545);
}
#myChart {
  margin: 25px;
}
.shortcuts {
  display: flex;
  flex-direction: row;
  height: 40px;
  color: rgb(81, 81, 81);
  font-size: 12px;
}
.shortcuts p {
  margin: 0 30px;
}
.chart-container {
  position: relative;
  height: 40vh;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-container canvas {
  width: 100%;
  height: 100%;
}
#progress {
    color: #ddac0d;
  text-shadow: 0 0 10px #e8c141a9, 0 0 30px #ddac0d;
}